@font-face {
  font-family: quicksand;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Quicksand_Book.otf)
      format("truetype");
}

@font-face {
  font-family: proximanovabold;
  font-style: normal;
  font-weight: bolder;
  font-display: swap;
  src: url(fonts/proxima-nova-bold.otf)
      format("truetype");
}
  
@font-face {
  font-family: proximanovasemi;
  font-style: normal;
  /* font-weight: 100; */
  font-display: swap;
  src: url(fonts/proxima-nova-semibold.otf)
      format("truetype");
}