@import url('./fonts.css');
@import url('./slider.css');
@import url('./hamburguer.css');

* {
  margin: 0;
  padding: 0;
  
  font-family: "quicksand" !important;
  font-family: "proximanovasemi";

  --vermelho: rgb(196,26,26);
  --preto: #212121;
  --ciano: rgb(87,186,176);
}

h1, h2 {
  font-family: "proximanovabold" !important;
}

body {
  display: block;
  height: 100vh;
  color: white;
  background-image: url('../img/fundo_1.png');
  background-size: 200px;
}

main {
  height: 100vh;
}

a {
  color: var(--vermelho);
  text-decoration: none;
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--ciano);
  position: fixed;
  width: 20vw;
}

.sidebar-info {
  position: relative;
  background-color: var(--vermelho);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.sidebar-info img {
  width: 80%;
  border-radius: 50%;
}

.sidebar-menu {
  padding: 0px;
  list-style: none; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--preto);
}
.sidebar-menu-item {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  color: #e0e0e0;
}

.sidebar-menu-item:hover {
  background-color: #e0e0e0;
  color: var(--preto);
  cursor: pointer;
}

.sidebar-redes {
  position: absolute;
  left: 5px;
  bottom: 5px; 
}
.sidebar-redes a {
  color: var(--preto);
  font-size: 20px;
  font-weight: bolder;
}
.sidebar-redes a:hover {
  color: var(--vermelho);
}

.conteudo {
  margin-left: 20vw;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pagina-conteudo {
  padding: 20px 40px;
}

.pagina-conteudo a {
  color: var(--ciano);
}

.pagina-conteudo a:hover {
  color: var(--vermelho);
}

.pagina {
  width: 80%;
  margin-top: 30px;
  padding: 30px;
  background-color: var(--preto);
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.pagina p {
  line-height: 22px;
  text-indent: 30px;
}

.pagina p img {
  text-align: center;
}

.arquivo-programa {
  font-family: "proximanovasemi" !important;
  font-size: 35px;
  color: #ffffff;
  background-color: var(--vermelho);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 10px;
}
.arquivo-programa div {
  font-size: 55px;
  text-align: center;
  background-color: var(--ciano);
}

.arquivo-programa:hover, .arquivo-programa:hover div {
  background-color: var(--ciano);
  color: var(--vermelho);
}

.header-financiamento {
  width: 100%;
  text-align: center;
  max-height: 250px;
  background: #242424;
}

.header-financiamento img {
  width: 100%;
  max-width: 564px;
  max-height: 250px;
}

.premios {
  text-align: center;
  background: #6ab0a4;
  width: 100%;
}
.premios img {
  max-width: 100%;
}

/* menu */
.menu {
  display: none;
  height: 120px;
  background-color: var(--vermelho);
  grid-template-columns: auto auto;
  position: fixed;
  z-index: 5;
  width: 100%;
}
.menu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-logo img {
  height: 120px;
}
.menu-opcoes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 1099px) {
  .sidebar {
    display: none;
  }
  .conteudo {
    margin-left: 10px;
    margin-top: 120px;
    position: absolute;
  }
  .menu {
    display: grid;
  }
  .menu-hamb {
    display: block;
  }
}
@media all and (max-width: 640px) {
  .menu-opcoes a {
    font-size: 20px;
  }
  .menu-logo img {
    height: 100px;
  }
  .menu-logo h1 {
    font-size: 25px;
  }
  .menu-logo h2 {
    font-size: 20px;
  }
  a.arquivo-programa div {
    font-size: 30px;
  }

  .pagina-conteudo {
    width: 70%;
  }

  .pagina-conteudo div {
    width: 70%;
    padding: 20px;
  }

  .pagina {
    width: 70%;
  }

  .pagina div {
    width: 80%;
  }

  .header-financiamento {
    justify-self: center;
    width: 80%;
  }
}